body{
    background-color:coral;
}

h1{
    color:cornflowerblue;
    background-color:white;
}

#showsketch{
    float:right;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name: sofia;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes sofia{
    from {box-shadow: 1px 1px 38px purple;}
    to {box-shadow: 1px 1px 38px pink;}
}

p{
    padding-top:10px;
    font-size:25px;
}

#limpar{
    margin-bottom: 50px;
}